.superhero {
    background-color: #f0f8ff;
    color: #333;
    font-family: 'Arial', sans-serif;
    padding: 17px;
    text-align: center;
    border-radius: 20px;
  }

.superhero img {
  width: 10vw;
  height: 10vw;
  display: block;
  margin: 15px auto 15px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 2px 2xp 4px black;
}

ul {
  list-style: none;
  list-style-position: inside;
  padding: 0;
}

::marker {
  content: "🎥 ";
}

.readMore {
  font-weight: 900;
  margin: 20px auto;
  cursor: pointer;
  transition: color .3s ease;
}

.readMore:hover {
  color: #ed1d24;
}